.App {
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin: 100px 0;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  position: relative;
  margin-top: auto;
}